html,
body {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
}

body {
    box-sizing: border-box;
    font-size: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
    display: flex;
}

article {
    flex: 1;
    /*order: -1;*/
}

nav {
    flex: 1;
}

/*@media screen and (max-width: 500px) {

    main {
        flex-direction: column;
    }

}*/

h1 {
    font-size: 1.2em;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

header,
footer,
nav,
article,
aside {
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
}
.content-navigation > input{
    width: 100%;
}
.search-results{
    text-align: left;
}
header,
footer {
    height: 3.3em;
}

.content-sidebar{
    width: 200px;
}

article {
    /*background-color: #675BA7;*/
}
header {
    background-color: #A62E5C;
}

nav {
    /*background-color: #9BC850;*/
}

aside {
    /*background-color: #2A9FBC;*/
}

footer {
    /*background-color: #F15B2A;*/
}